DB_HOST=127.0.0.1
DB_PORT=8889
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=billing0femi9_billingapp

WHATSAPP_BUSINESS_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_TOKEN=
WHATSAPP_API_BASE=https://graph.facebook.com/v20.0

ADMIN_EMAIL=
APP_URL=

GOOGLE_VISION_API_KEY=
GOOGLE_GEOCODING_API_KEY=

ANTHROPIC_API_KEY=

ENCRYPTION_KEY=
